@model IEnumerable<VictuzBeta.Models.Member>

@{
    ViewData["Title"] = "Members";
}

<center>
    <h1>VICTUZ</h1>
</center>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="Home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01" data-np-autofill-form-type="other" data-np-checked="1" data-np-watching="1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Agenda">
                        Agenda
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="News">Nieuws</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="BecomeMember">Wordt Lid?</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search" data-np-intersection-state="visible">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<center>
    <h2>Members</h2>
</center>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Board)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Board)
            </td>
        </tr>
}
    </tbody>
</table>
