<<<<<<< HEAD
﻿@model VictuzBeta.Models.Proposition
=======
﻿@model Victuz.Models.Proposition
>>>>>>> 40034713999ffddfb830ed1ef18feeae66801caf

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proposition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusDisplay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
